/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
  box-sizing: border-box;
  outline: 1px dashed lightgray;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  color: #292c2f;
  background-color: #efefef;
  font: 400 15px/1.4 'Open Sans', sans-serif;
}
p,
span,
a {
  display: block;
}
/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #292c2f url(../img/header/main__bg.jpg) no-repeat center center;
  background-size: cover;
  -ms-flex-align: center;
      align-items: center;
}
.header__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .header__container {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 0;
}
.main__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .main__container {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
.main__book-description,
.main__book-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__book-description,
  .main__book-image {
    width: 50%;
  }
}
.main__book-description .main__links {
  display: -ms-flexbox;
  display: flex;
}
.main__book-description .main__link-item {
  width: 50%;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #292c2f;
  border: 1px solid #292c2f;
}
.main__book-description .main__link-item:nth-child(1) {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .main__book-description .main__link-item {
    width: auto;
  }
}
.main__book-image {
  font-size: 0;
  line-height: 0;
}
.main__book-image img {
  width: 100%;
  height: auto;
}
/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 15px;
  color: #ffffff;
  background-color: #292c2f;
}
.footer__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
