/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
	box-sizing: border-box;

	//outline: 1px dashed lightgray;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: @color__darkgrey;
	background-color: @color__lightgrey;

	font: 400 15px/1.4 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

p,
span,
a {
	display: block;
}

a,
a:visited {
	text-decoration: none;

	color: @color__darkgrey;
}

a:hover {
	text-decoration: underline;
}

p:last-child {
	margin-bottom: 0;
}
